{% extends 'appname/base.html' %}

{% block header %}

<div class="container">
  <div class="row">
    <div class="col">
    
    </div>
    <div class="col-6">
      <form method="POST">
        {% csrf_token %}
        <div class="form-row">
          <div class="form-group col-md-6">
            <label for="inputEmail4">Email</label>
            {{ form.email }}
            <!-- <input type="email" class="form-control" id="inputEmail4"> -->
          </div>
          <div class="form-group col-md-6">
            <label for="inputPassword4">Password</label>
            <!-- <input type="password" class="form-control" id="inputPassword4"> -->
            {{ form.password }}
          </div>
        </div>
        <div class="form-group">
          <label for="inputAddress2">username</label>
          {{ form.username }}
          <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="what's your name?"> -->
        </div>
        <div class="form-group">
          <label for="inputAddress">nickname</label>
          {{ form.nickname }}
          <!-- <input type="text" class="form-control" id="inputAddress" placeholder="your nickname"> -->
        </div>
        <div class="form-group">
          <label for="inputAddress2">phonenumber</label>
          {{ form.phone_number }}
          <!-- <input type="text" class="form-control" id="inputAddress2" placeholder="010-@@@@-@@@@"> -->
        </div>
        <div class="form-group">
          <label for="inputAddress2">your profile</label>
          {{ form.profile_image }}
          <!-- <input type="text" class="form-control" id="inputAddress2" placeholder=""> -->
        </div>
      
        
        <button type="submit" class="btn btn-primary">Sign in</button>
      </form>


    </div>
    <div class="col">
      
    </div>
  </div>





{% endblock %}

